.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.container .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.container .right a:nth-child(1){
    background: linear-gradient(92.48deg, #0199EE 2.11%, #01E5BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}